<ngb-carousel>
  <ng-template ngbSlide *ngFor="let collegue of collegues">
      <a routerLink="/details/{{collegue.nom}}" RouterLinkActive="active-link"><img src={{collegue.image}} class="rounded mx-auto d-block" alt="Photo du collegue" height="500rem" width="600rem"/></a>
      
            <div class="carousel-caption">
      
              <h2>{{collegue.score}}</h2>
      
              <button class="btn btn-outline-primary" (click)="jaime(collegue)">J'aime</button>
      
              <button class="btn btn-outline-danger" (click)="jedeteste(collegue)">Je déteste</button>
      
      </div>
  </ng-template>        
</ngb-carousel>
