<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">limite</span>
    <input type="text" class="form-control" (keyup)="limite($event)" aria-describedby="basic-addon1">
</div>
<div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Filtre par pseudo</span>
        <input type="text" class="form-control" (keyup)="filtrePseudo($event)" aria-describedby="basic-addon1">
</div>
<div class="col-12">
<table class="table table-hover">
    <thead>
      <tr>
        <th>Image</th>
        <th>Nom</th>
        <th>Score</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
          <tr *ngFor="let collegue of (collegues | slice:0:size) | nom:filtre" >
              <td>
                  <a routerLink="/detail/{{collegue.nom}}" RouterLinkActive="active-link">
                    <img class="img-responsive mx-auto d-block round" src={{collegue.image}} height="125rem" width="125rem">
                  </a>
              </td>
              <td>{{collegue.nom | uppercase}}</td>
              <td><label [innerHTML]="collegue.score | score" ></label> </td>
              <td><button class="btn btn-outline-primary" (click)="jaime(collegue)">J'aime</button>
              <button class="btn btn-outline-danger" (click)="jedeteste(collegue)">Je déteste</button></td>
          </tr>

    </tbody>
  </table>
  </div>
