<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Top collègues</h1>
            <h6>les meilleurs collègue du moment</h6>
        </div>
    </div>
    <div class="row">
      <div class="col-2">
      <label>Pseudo</label>
      </div>
      <div class="col-4">
      <input type="text" #pseudo name="pseudo" placeholder="Pseudo">
    </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label>URL image</label>
      </div>
      <div class="col-4">
        <input type="text" #imageUrl name="imageUrl" placeholder="URL image">
      </div>
    </div>
    <div class="row offset-1">
      <button type="button" class="btn btn-primary " (click)="add(pseudo, imageUrl)">Ajouter un nouveau collègue</button>
    </div>
    <div class="row">
        <ngb-alert  *ngIf="successMessage" type="success" >{{ successMessage }}</ngb-alert>
    </div>
    <nav>
      <a routerLink="/classique" RouterLinkActive="active-link" >classique</a> 
      <a routerLink="/tableau" RouterLinkActive="active-link">tableau </a>
      <a routerLink="/carrousel" RouterLinkActive="active-link">carrousel </a>
    </nav>
    <router-outlet > </router-outlet> 

</div>

